{# --- Pre-SQL --- #}
{% if config.preSQL is defined and config.preSQL.parameters is defined -%}
    {% for sql in config.preSQL.parameters -%}
        {{ stage('Pre-SQL ' + loop.index|string) }}
        {{ sql }}
    {% endfor %}
{%- endif %}

{# --- Insert Strategy --- #}
{% if config.insertStrategy is defined and config.insertStrategy.parameters is defined %}
    {% if config.insertStrategy.parameters[0] == 'MERGE' %}
        {{ stage('Merge Data') }}
        MERGE INTO {{ ref_no_link(node.location.name, node.name) }} TGT
        USING (
        {% for source in sources %}
            {{ source.cteString }}
            SELECT
            {% for col in source.columns %}
                {{ get_source_transform(col) }} AS "{{ col.name }}"{% if not loop.last %}, {% endif %}
            {% endfor %}
            {{ source.join }}
        {% endfor %}
        ) SRC
        ON {% for col in columns if col.isBusinessKey %}{% if not loop.first %} AND {% endif %}TGT."{{ col.name }}" = SRC."{{ col.name }}"{% endfor %}
        WHEN MATCHED THEN UPDATE SET
            {% for col in columns if col.isChangeTracking %}
                TGT."{{ col.name }}" = SRC."{{ col.name }}"{% if not loop.last %}, {% endif %}
            {% endfor %}
        WHEN NOT MATCHED THEN INSERT (
            {% for col in columns %}
                "{{ col.name }}"{% if not loop.last %}, {% endif %}
            {% endfor %}
        ) VALUES (
            {% for col in columns %}
                SRC."{{ col.name }}"{% if not loop.last %}, {% endif %}
            {% endfor %}
        );

    {% elif config.insertStrategy.parameters[0] == 'TRUNCATE' %}
        {{ stage('Truncate Table') }}
        TRUNCATE TABLE {{ ref_no_link(node.location.name, node.name) }};

        {{ stage('Insert Data') }}
        INSERT INTO {{ ref_no_link(node.location.name, node.name) }}
        (
            {% for col in columns %}
                "{{ col.name }}"{% if not loop.last %}, {% endif %}
            {% endfor %}
        )
        {% for source in sources %}
            {{ source.cteString }}
            SELECT
            {% for col in source.columns %}
                {{ get_source_transform(col) }} AS "{{ col.name }}"{% if not loop.last %}, {% endif %}
            {% endfor %}
            {{ source.join }}
            {% if not loop.last %}UNION ALL{% endif %}
        {% endfor %};

    {% else %}
        {{ stage('Insert Data') }}
        INSERT INTO {{ ref_no_link(node.location.name, node.name) }}
        (
            {% for col in columns %}
                "{{ col.name }}"{% if not loop.last %}, {% endif %}
            {% endfor %}
        )
        {% for source in sources %}
            {{ source.cteString }}
            SELECT
            {% for col in source.columns %}
                {{ get_source_transform(col) }} AS "{{ col.name }}"{% if not loop.last %}, {% endif %}
            {% endfor %}
            {{ source.join }}
            {% if not loop.last %}UNION ALL{% endif %}
        {% endfor %};

    {% endif %}
{% else %}
    {{ stage('Insert Data') }}
    INSERT INTO {{ ref_no_link(node.location.name, node.name) }}
    (
        {% for col in columns %}
            "{{ col.name }}"{% if not loop.last %}, {% endif %}
        {% endfor %}
    )
    {% for source in sources %}
        {{ source.cteString }}
        SELECT
        {% for col in source.columns %}
            {{ get_source_transform(col) }} AS "{{ col.name }}"{% if not loop.last %}, {% endif %}
        {% endfor %}
        {{ source.join }}
        {% if not loop.last %}UNION ALL{% endif %}
    {% endfor %};

{% endif %}

{# --- Post-SQL --- #}
{% if config.postSQL is defined and config.postSQL.parameters is defined -%}
    {% for sql in config.postSQL.parameters -%}
        {{ stage('Post-SQL ' + loop.index|string) }}
        {{ sql }}
    {% endfor %}
{%- endif %}

{# --- Tests --- #}
{% if config.testsEnabled -%}
    {% if config.tests is defined and config.tests.parameters is defined -%}
        {% for test in config.tests.parameters -%}
            {{ test_stage(test) }}
            {{ test }}
        {% endfor %}
    {%- endif %}

    {% for column in columns -%}
        {% if column.tests is mapping and column.tests.parameters is defined -%}
            {% for test in column.tests.parameters -%}
                {{ test_stage(column.name + ": Test " + loop.index|string) }}
                {{ test }}
            {%- endfor %}
        {%- endif %}
    {%- endfor %}
{%- endif %}